body {
  background-color: #dda0dd;
  font-family: "Red Rose", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#chatbot-container {
  position: relative;
  width: 445px;
  height: 415px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -10px;
}

#chatbot-header {
  background-color: #f4f4f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

#chatbot-header h1 {
  margin: 0;
  font-size: 21px;
  text-align: center;
  font-weight: 100;
}

#chatbot-start-button {
  background-color: #8dd471;
  color: #990499;
  font-size: 15px;
  border: none;
  border-radius: 50px;
  padding: 16px 32px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  display: block;
  font-family: monospace;
  margin: 15px;
  margin-bottom: -45px;
}

#chatbot-messages {
  overflow-y: scroll;
  height: 65%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#chatbot-messages::-webkit-scrollbar {
  width: 0;
}

#chatbot-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#chatbot-messages::-webkit-scrollbar-thumb {
  background: #888;
}

#chatbot-messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#chatbot-messages div {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 45%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

#botMsg {
  background-color: #3bb948;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 2px 50px;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-start;
}

.questionDiv {
  background-color: #3bb948;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 2px 50px;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-start;
}

#usersmessage {
  background-color: #010100;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 4px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 80%;
  align-self: flex-end;
}

#chatbot-footer {
  background-color: #f4f4f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  position: static;
  bottom: 0;
}

#chatbot-form {
  border-top: 1px solid #ddd;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 50px;
}
#chatbot-input-section {
  display: block;
}
#chatbot-input {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 20px;
  background-color: beige;
  outline: none;
}

#chatbot-container button[type="submit"] {
  background-color: #00b8d4;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.recommendation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommendation-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommendation-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.recommendation-item h3 {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.recommendation-item p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.recommendation-item button {
  background-color: #8dd471;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}
